.modal_background {
  background-color: rgba(0, 0, 0, 0.4);
  position: fixed;
  z-index: 1000;
  width: 100%;
  min-height: 100%;
  top: 0;
  left: 0;
  z-index: 10; }

.modal_container {
  margin: auto;
  right: 1%;
  left: 1%;
  position: absolute;
  opacity: 1;
  top: 50% !important;
  transform: translateY(-50%);
  padding: 20px;
  background-color: white;
  width: 50%;
  z-index: 10000;
  max-height: 600px;
  overflow: scroll;
  overflow-x: hidden; }
  .modal_container.visible {
    -webkit-animation: open 400ms;
    animation: open 400ms; }

@keyframes open {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
