@font-face {
  font-family: 'Khand';
  font-style: normal;
  font-weight: 300;
  src: url("./fonts/khand/khand-v5-latin-300.eot");
  /* IE9 Compat Modes */
  src: local("Khand Regular"), local("Khand"), url("./fonts/khand/khand-v5-latin-300.eot?#iefix") format("embedded-opentype"), url("./fonts/khand/khand-v5-latin-300.woff2") format("woff2"), url("./fonts/khand/khand-v5-latin-300.woff") format("woff"), url("./fonts/khand/khand-v5-latin-300.ttf") format("truetype"), url("./fonts/khand/khand-v5-latin-300.svg#Khand") format("svg");
  /* Legacy iOS */ }

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  font-family: 'Khand';
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  line-height: normal;
  letter-spacing: 1px; }

.hidden {
  opacity: 0;
  top: 500;
  transition: all 10s ease-in-out; }

.visible {
  opacity: 1;
  top: 0;
  transition: all 10s ease-in-out; }

.nopadding {
  padding: 0 !important;
  margin: 0 !important; }

.small-text {
  font-size: 12px;
  line-height: 12px; }

.small-glyph {
  font-size: 9px;
  line-height: 9px; }

button {
  border: none;
  color: white; }
  button.btn-action-button {
    background-color: #0189a9 !important;
    outline: none !important;
    padding: 8px; }
    button.btn-action-button.danger {
      background-color: red !important;
      opacity: 0.9; }
      button.btn-action-button.danger:hover {
        color: red;
        color: white;
        opacity: 0.7; }
    button.btn-action-button.success {
      background-color: green !important;
      opacity: 0.9; }
      button.btn-action-button.success:hover {
        color: green;
        color: white;
        opacity: 0.7; }
    button.btn-action-button.font-icon {
      color: white;
      font-size: 10px;
      padding: 5px;
      width: 25px;
      height: 25px; }
      button.btn-action-button.font-icon .glyphicon {
        line-height: 0; }
    button.btn-action-button:hover {
      color: white;
      opacity: 0.8; }
  button.btn-action-button-transparent {
    background-color: white !important;
    color: #0189a9; }
  button.btn-action-button::hover {
    background-color: #0189a9;
    opacity: 8; }
  button.disabled-button {
    background-color: #e4e4e4 !important; }

input[type="checkbox"] {
  margin: 5px; }

.list {
  padding: 0 20px; }
  .list .actions .action-button {
    background: white;
    border: none;
    width: 50px;
    outline: none; }
    .list .actions .action-button:hover {
      color: blue; }

.equal {
  display: -webkit-flex;
  display: flex; }

.align-center {
  text-align: center; }

.align-right {
  text-align: right; }
