$blue: #0189a9;
$grey: #e4e4e4;
$padding-inner: 10px;
$padding-outter: 20px;
$small-text: 12px;
$medium-text: 14px;
$big-text: 18px;

@font-face {
  font-family: 'Khand';
  font-style: normal;
  font-weight: 300;
  src: url('./fonts/khand/khand-v5-latin-300.eot'); /* IE9 Compat Modes */
  src: local('Khand Regular'), local('Khand'),
       url('./fonts/khand/khand-v5-latin-300.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('./fonts/khand/khand-v5-latin-300.woff2') format('woff2'), /* Super Modern Browsers */
       url('./fonts/khand/khand-v5-latin-300.woff') format('woff'), /* Modern Browsers */
       url('./fonts/khand/khand-v5-latin-300.ttf') format('truetype'), /* Safari, Android, iOS */
       url('./fonts/khand/khand-v5-latin-300.svg#Khand') format('svg'); /* Legacy iOS */
}

body {
  	margin: 0;
  	padding: 0;
  	font-family: sans-serif;
  	font-family: 'Khand';
  	font-weight: 400;
    font-style: normal;
    font-size: 14px;
    line-height: normal;
    letter-spacing: 1px;
}

.hidden{
  opacity:0;
  top:500;
  transition: all 10s ease-in-out;
}

.visible{
  opacity:1;
  top:0;
  transition: all 10s ease-in-out;
}

.nopadding {
   	padding: 0 !important;
   	margin: 0 !important;
}

.small-text {
  font-size: $small-text;
  line-height: $small-text;
}

.small-glyph {
  font-size: 9px;
  line-height: 9px;
}

button {
  border: none;
  color:white;
  &.btn-action-button{
      &.danger{
        background-color: red !important;
        opacity: 0.9;
        &:hover {
          color:red;
          color: white;
          opacity: 0.7;
        }
      }
      &.success{
        background-color: green !important;
        opacity: 0.9;
        &:hover {
          color:green;
          color: white;
          opacity: 0.7;
        }
      }
      background-color: $blue !important;
      outline: none !important;
      padding: 8px;
      &.font-icon{
        color:white;
        font-size: 10px;
        padding: 5px;
        width: 25px;
        height: 25px;
        .glyphicon {
          line-height: 0;
        }
      }
      &:hover {
        color:white;
        opacity: 0.8;
      }
      // &:disabled{
      //   background-color:grey !important;
      //   border:grey !important;
      // }
  }
  &.btn-action-button-transparent{
    background-color: white !important;
    color:$blue;
  }
  &.btn-action-button::hover{
    background-color: $blue;
    opacity: 8;
  }
  &.disabled-button{
      background-color: $grey !important;
  }
}

input[type="checkbox"] {
  margin: 5px;
}

.list{
  padding: 0 20px;
  .actions{
    // width:200px;
    .action-button {
      background:white;
      border:none;
      width: 50px;
      outline: none;
      &:hover{
        color:blue;
      }
    }
  }
}

.equal {  
    display: -webkit-flex;
    display: flex;
}

.align-center {
  text-align: center;
}

.align-right {
  text-align: right;
}